@import "tailwindcss";

@layer utilities {
  /* --- Primary Colors --- */
  .bg-primary-blue {
    background-color: #555cff;
  }
  .text-primary-black {
    color: black;
  }
  .bg-light-blue {
    background-color: #e6e8ff;
  }
  .text-light-blue {
    color: #e6e8ff;
  }
  .bg-nav {
    background-color: white;
  }
  /* --- Secondary Colors --- */
  .bg-secondary-green {
    background-color: #87da6a;
  }
  .text-primary-grey {
    color: #4a4a4a;
  }
  .text-secondary-grey {
    color: #1f1f1f;
  }

  /* --- Neutral/Gray Colors --- */
  .bg-text-dark {
    background-color: #4a4a4a;
  }
  .text-text-dark {
    color: #4a4a4a;
  }
  .bg-text-medium {
    background-color: #6c6c6c;
  }
  .text-text-medium {
    color: #6c6c6c;
  }
  .bg-text-light {
    background-color: #a0a0a0;
  }
  .text-text-light {
    color: #a0a0a0;
  }
  .bg-bg-light-gray {
    background-color: #f5f5f5;
  }
  .text-bg-light-gray {
    color: #f5f5f5;
  }
}
.nav-class {
  position: sticky;
  top: 0;
  z-index: 50;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  padding: 1rem;
  font-family: "Inter", sans-serif;
}

@media (min-width: 768px) {
  .nav-class {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.btn {
  background-color: #f43f5e;
}
/* Base button styles */

.good-button {
  font-family: "Poppins", sans-serif; /* Use a modern, readable font */

  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 50px; /* Fully rounded corners for a modern look */
  color: #ffffff; /* White text color */
}
